/*-----------------------------------

    CUSTOM STYLES GO HERE

Contents:
1.0 Header
1.1 Social Buttons 
2.0 Main Content
3.0 Animations
-------------------------------------*/

@mixin hover-reveal($trans-dur, $top, $bottom) {
  .#{$top} {
    opacity: 1;
    transition: $trans-dur ease-in-out;
  }
  .#{$bottom} {
    opacity: 0;
    transition: $trans-dur ease-in-out;
  }
  &:hover {
    .#{$top} {
      opacity: 0;
      transition: $trans-dur ease-in-out;
    }
    .#{$bottom} {
      opacity: 1;
      transition: $trans-dur ease-in-out;
    }
  }
}


// 1.0 Header
//...................................... 
header {
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  background-color: $jumbotron-bg;
  h1 {
    font-family: $r-title-f;
    font-style: normal;
    font-weight: $r-fw-bold;
  }
  h4 {
    font-family: $font-family-monospace;
    opacity: 0;
    animation: lint .01s 2.15s linear forwards;
  }
}      

#cursor {
  display: inline-block; 
  position: relative; 
  left: 7px; 
  top: 3px; 
  height: 5px; 
  width: 21px; 
  background-color: #4d4d4d; 
  animation: blinker .5s ease-in-out alternate infinite;
}

#highlight {
  position: absolute;
  top: 37px;
  //left: 230px;
  opacity: 0.5;
  background-color: white;
  //width: 0;
  height: 40px;
  z-index: 15;
}

// 1.1 Social Buttons
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: $social-justify;
  //overflow-x: hidden;
}

.soc-bg {
  color: $social-bg;
  &:hover { color: $social-bg-hover-c; }
}

#email-button {
  color: $link-color;
  .top-icon-bg {
    transform: rotateX(0deg);
    transition: .3s .2s;
  }
  .top-icon {
    opacity: 1;
    transition: .3s .2s;
  }
  .reveal-icon-bg {
    transform: scaleX($box-stretch) rotateY(90deg);
    transition: .3s;
  }
  .reveal-icon {
    transform: translateX($text-offset) rotateY(90deg);
    transition: .3s;
    font-size: .3em;
  }
  &:hover {
    margin-right: 8%;
    cursor: pointer;
    .top-icon-bg {
      transform: rotateX(60deg);
      transition: .3s; 
    }
    .top-icon {
      opacity: 0;
      transition: .3s;
    }
    .reveal-icon-bg {
      transform: scaleX($box-stretch) rotateY(0deg);
      transition: .3s .2s;
    }
    .reveal-icon {
      transform: translateX($text-offset) rotateY(0deg);
      transition: .3s .2s;
    }
  }
  #copiedIndic {
    font-size: .5em;
    font-family: Arial;
  }
  #copiedIndic.copiedEffect {
    animation: puff 1.5s;
  }
}

#github-button {
  &:hover {
    animation: spin 1s cubic-bezier(.34,.06,1,.48);
  }
}

#linkedin-button {
  &:hover {
    .fa-circle {
        animation: bounce .5s ease-in,
                   compress .09s .5s ease-in,
                   bounce .2s .59s ease-in reverse;
    }
  }
}

// 2.0 MAIN CONTENT
//.................................................. 
article {
  text-align: justify;
  max-width: 700px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

// 3.0 ANIMATIONS
//.................................................. 

@keyframes puff {
  from { 
          transform: translateY(-25px);
          opacity: 1; 
       }
  to   { 
          transform: translateY(-40px); 
          opacity: 0; 
       }
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  35% {
    transform: rotateZ(-90deg);
  }
  100% {
    transform: rotateZ(450deg);
  }
}


@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}

@keyframes compress {
  0% {
    transform: scaleX(1);
    top: 100px;
  }
  50% {
    transform: scaleX(1.8);
    top: 100px;
  }
  100% {
    transform: scaleX(1);
    top: 100px
  }
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes lint {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}