// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

// FONTS
//-------------------------------------------------- 

$font-family-sans-serif: Poppins, sans-serif !default;
$font-family-monospace:  Inconsolata, "Lucida Console" !default;
$title-font-stack:      "Oswald", Futura, "Trebuchet MS" !default;
$font-family-base:       $font-family-sans-serif !default;
$r-title-f:              $title-font-stack !default;
$r-code-f:               $font-family-monospace !default;
$r-fw-bold:              700;
$r-fw-mbold:             600;
$r-fw-normal:            normal;

// COLORS
//--------------------------------------------------
$brand-primary:         #fece00; //#ff6d5a
$jumbotron-bg:          #a6c7f8;
$link-color:            #00147e;
$link-hover-color:      lighten($link-color, 40%);
$social-bg:             white;
$social-bg-hover-c:     $link-color;

// MISC
//-------------------------------------------------
$box-stretch: 4;
$text-offset: -30%;
$social-justify: flex-start;

